@import "../../styles/varibles";

.music-button {
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  background-color: $black;

  &:hover {
    background-color: $lightBlack;
  }
  &:focus {
    outline: none;
  }
}
